

<html>
    <head>

    </head>
    <body>
        <h1>Name : @ViewBag.Name</h1>
        <h1>Address : @ViewBag.Address</h1>
    <h1>Age : @ViewBag.Age</h1>
    <h1>Qualification : @ViewBag.Qfy</h1>
    </body>
</html>
